* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg: #edcfa9;
	--bg-alt: #ffffdd;
	--fg: #0f0f0f;
	--primary: #aa4a30;
	--secondary: #3090aa;
	--secondary-alt: #005d77;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1280px;
	width: 95%;
	margin: 3em auto;
	background-color: var(--bg);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header h1 {
	font-family: 'Paytone One', sans-serif;
	font-size: 4rem;
	text-shadow: 0 -2px #000;
	cursor: pointer;
	color: var(--primary);
}

.button {
	font-family: inherit;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0.8em 1.4em;
	margin: 1em 0.3em 0 0.3em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: transform 0.25s ease-in-out;
	background-color: var(--secondary);
	color: var(--bg-alt);
}

.button:hover {
	background-color: var(--secondary-alt);
}

.button:active {
	transform: scale(0.9);
}

.container {
	display: grid;
	-webkit-tap-highlight-color: transparent;
	width: 35em;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}

.container:hover {
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
}

.grid-item {
	background: var(--bg-alt);
	padding: 45%;
	transition: all 0.2s ease-in-out;
}

@media (max-width: 1080px) {
	body {
		flex-direction: column;
		margin: 1em auto;
		align-items: center;
	}

	.container {
		margin-top: 3em;
	}
}

@media (max-width: 650px) {
	header h1 {
		font-size: 2.8rem;
	}

	.container {
		width: 18em;
	}

	.button {
		padding: 0.6em 0.9em;
	}
}
